/* ------------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------------- */

* {

    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html,
header,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------- */

/* ------- HEADINGS ------- */

h2 {
 font-size: 200%;
 word-spacing: 2px;
 text-align: center;
 margin-bottom: 30px;
 letter-spacing: 1px;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c0392b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- ROWS AND SECTIONS ------- */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 20px 0;
}

.box {
    padding: 1%;
    line-height: 1.6;
}

/* ------- BUTTONS ------- */

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #c0392b;
    color: #c0392b;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #c0392b;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c0392b;
    color: #fff;
}

/* ------- ICONS ------- */

.icon-big {
    font-size: 400%;
    display: block;
    color: #c0392b;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 36.6%;
}

/* ------- DIVIDERS ------- */

.divider1 {
    position: absolute;
    border-bottom: 2px solid #fff;
    top: 408%;
    left: 9%;
    width: 30%;
}

/* ------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------- */

#header-video {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
    filter: brightness(35%);
    z-index: 0;
}

#headt {
    position: absolute;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 10%;
}

#header-btn {
    position: absolute;
    top: 60%;
    left: 45%;
    margin-top: 18px;
    font-size: 28px;
    z-index: 1;
}

/* ------------------------------------------------------------------- */
/* ABOUT US */
/* ------------------------------------------------------------------- */

.section-about {
    margin-left: 95px;
    margin-right: 20px;
}

.section-about h2 {
    text-align: center;
    padding-left: 20%;
    padding-bottom: 2%;
}

.section-about h3,
.section-about p {
    text-align: center;
    margin-top: 1.5%;
}

/* ------------------------------------------------------------------- */
/* LATEST NEWS */
/* ------------------------------------------------------------------- */

.section-latest-news {
    background-color: #c0392b;
    color: #fff;
    padding-left: 95px;
    padding-right: 20px;
    padding-bottom: 3%;
}

.section-latest-news h2 {
    margin-right: 5%;
}

.section-latest-news h2:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-latest-news h3,
.section-latest-news p {
    text-align: center;
    padding-top: 10%;
}

.section-latest-news .btn {
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
}

#news1 {
    margin-top: 17%;
}


/* --- NEWS BUTTONS SETUP STARTS --- */
.btn-news:link,
.btn-news:visited {
    border: 1px solid #fff;
    color: #fff;
}
.btn-news:hover,
.btn-news:active {
    border: 1px solid #fff;
    background-color: #fff;
    color: #c0392b;
}
/* --- NEWS BUTTONS SETUP ENDS --- */

/* ------------------------------------------------------------------- */
/* SUBMIT YOUR IDEAS */
/* ------------------------------------------------------------------- */

.section-submit-ideas {
    width: 50%;
    background-image: url(images/dbd2a.jpg);
    background-attachment: fixed;
    width: 100vh;
    height: 100vh;
}

.right-side {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 255%;
    line-height: 1.7;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.right-side p {
    text-align: center;
}

.right-side a {
    font-size: 30px;
    margin-left: 35%;
    margin-top: 5%;
}

#note1 {
    font-size: 15px;
    color: #8b8b8b;
    margin-top: 4%;
}

/* ------------------------------------------------------------------- */
/* LATEST CONTENT DROPS */
/* ------------------------------------------------------------------- */

.section-latest-drops {
    background-color: #c0392b;
    color: #fff;
    padding-top: 2%;
    overflow: hidden;
}

.section-latest-drops .row {
    margin-bottom: -22%;
}

#hr1 {
    color: #fff;

}

.section-latest-drops h2:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-latest-drops h3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.section-latest-drops img {
    width: 100%;
    border: 1px solid #fff;
    margin-left: 87%;
    margin-top: -3.7%;
}

.ls,
.rs {
    text-align: center;
}

.ls {
    position: relative;
    top: -155%;
    margin-left: 5%;
}

.rs {
    position: relative;
    top: -115%;
    margin-left: 5%;
}
